@import "~bulma/sass/utilities/_all";

$primary: #8c43ff;
$primary-invert: $white;

$transparent: rgba(0, 0, 0, 0);

$navbar-breakpoint: 0;

$skill-border-color: rgb(228, 233, 241);

$card-background: #293347;

$form-border-color: #dbdbdb;

$colors: ("white": ($white, $black),
"black": ($black, $white),
"light": ($light, $light-invert),
"dark": ($dark, $dark-invert),
"primary": ($primary, $primary-invert),
"info": ($info, $info-invert),
"success": ($success, $success-invert),
"warning": ($warning, $warning-invert),
"danger": ($danger, $danger-invert),
"transparent": ($transparent, $transparent),
);

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 500ms;
  transition-property: height, opacity, transform;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.has-margin-auto {
  margin: auto;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";